* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #fff;
  padding: 30px;
}
/*---------- header section css start----------- */
.header {
  background-image: url();
  height: 95vh;
}

/*--------------- header section css end ----------------*/
